table {
    text-align: center;
  
    font-family: 'Courier New', Courier, monospace;

    font-size: 20px;
  
    border-spacing: 20px 15px;

    background-color: rgba(126, 126, 126, 0.836);

    border-radius: 50px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

td >*{
    color: gold;
    text-decoration: unset;
    

    padding: 5px;
    border-radius: 10px;
    border: solid rgba(126, 126, 126, 0.836) 1px;
}

td >*:hover{
    border: solid gold 1px;
    background-color: rgba(255, 217, 0, 0.692);
    color: black;
}

thead {
    font-size: 20px;

    text-decoration: underline;
    text-underline-offset: 10px;
}

.data-output{
    margin-bottom: 30px;

    height: 60vh;
    width: 50vw;

    overflow-y:auto;


    margin-right: auto;
    margin-left: 20px;
}

::-webkit-scrollbar {
    /* border: 1px solid black; */
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    
}
::-webkit-scrollbar-thumb {
    background-color: gold;

    /* outline: 1px solid slategrey; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

  }